/* ------------------------------------------
[Tables of Content]

> style
> style-breakpoints
> dark theme (this)
    - General
    - 1.0 Home Page
    - 2.0 About Page
    - 3.0 Indiv Pages
    - 4.0 Blog Page(s)
--------------------------------------------- */

/* ------------------------------------------ General ------------------------------------------ */
/* ---- Preloader */
body.dark-mode #preloader {
    background-color: #1f2022;
}

/* ---- Button */
.wbnrfz_btn_theme {
    position: relative;
    z-index: 1;
    min-width: auto;
    height: 46px;
    line-height: 42px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    padding: 0 30px;
    margin-left: 5px;
    text-align: center;
    text-transform: capitalize;
    background-color: #444;
    color: #fff;
    border-radius: 60px;
    transition-duration: 500ms;
    margin-bottom: 10px;
    margin-top: 5px;
    border: none;
}

body.dark-mode #scrollUp {
    background-color: #5f7cb4;
    color: #fff;
}

body.dark-mode .wbnrfz_btn_theme {
    background-color: #5f7cb4;
    color: #fff;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode p {
    color: #fff;
}

body.dark-mode .mb-0,
body.dark-mode .mb-0 a {
    color: #fff;
}

body.dark-mode hr {
    border-color: #fff;
}

/* ---- */

/* ---- Footer */
body.dark-mode .footer-area {
    background-color: #1e1e1e;
    color: #fff;
    transition: all 0.5s ease;
}

body.dark-mode .footer-content .copywrite-text p {
    color: #fff;
}

body.dark-mode .footer-content .social-info a {
    color: #fff;
}

/* ---- */

/* ---- Mobile Nav Bar */
body.dark-mode .breakpoint-on .classy-navbar .classy-menu {
    background-color: #1f2022;
    transition: all 0.5s ease;
}

/* ------------------------------------------ */

/* ------------------------------------------ 1.0 Home Page ------------------------------------------ */
body.dark-mode #lrd {
    background-color: #18191a;
    padding-top: 50px;
    transition: all 0.5s ease;
}

body.dark-mode .alert-primary {
    background-color: #082249;
    color: #5294e4;
    border-color: #084298;
    transition: all 0.5s ease;
}

body.dark-mode .dataraw_btn {
    color: #5294e4;
}

body.dark-mode .breadcrumb-content .breadcrumb .breadcrumb-item-aag {
    color: #fff;
}

body.dark-mode .breadcrumb-content .breadcrumb .breadcrumb-item-aag+.breadcrumb-item-aag::before {
    color: #fff;
}

body.dark-mode .breadcrumb-content .breadcrumb .breadcrumb-item-aag.active {
    color: #6d8fad;
}

/* Days Overview */
body.dark-mode .card-body-nsl,
body.dark-mode .card-nsl {
    background-color: #471418;
    transition: all 0.5s ease;
}

body.dark-mode .card-body-ewl,
body.dark-mode .card-ewl {
    background-color: #0b3220;
    transition: all 0.5s ease;
}

body.dark-mode .card-body-ccl,
body.dark-mode .card-ccl {
    background-color: #332701;
    transition: all 0.5s ease;
}

body.dark-mode .card-body-lrt,
body.dark-mode .card-lrt {
    background-color: #313731;
    transition: all 0.5s ease;
}

body.dark-mode .card-body-tel,
body.dark-mode .card-tel {
    background-color: #2a1806;
    transition: all 0.5s ease;
}

body.dark-mode .card-body-dtl,
body.dark-mode .card-dtl {
    background-color: #012243;
    transition: all 0.5s ease;
}

body.dark-mode .card-body-nel,
body.dark-mode .card-nel {
    background-color: #2e1a35;
    transition: all 0.5s ease;
}

body.dark-mode .days,
body.dark-mode .slrd {
    color: #fff;
}

/* Cards */
body.dark-mode .card-body-do,
body.dark-mode .card-do {
    background-color: #242526;
    transition: all 0.5s ease;
}

body.dark-mode .accordion-button {
    background-color: #3a3b3c;
}

body.dark-mode .accordion-body,
body.dark-mode .accordion-item {
    background-color: #242526;
    transition: all 0.5s ease;
    border-bottom-right-radius: var(--bs-accordion-border-radius);
    border-bottom-left-radius: var(--bs-accordion-border-radius);
    border-color: #000;
}

body.dark-mode .acc-pi {
    background-color: #2f3132;
    transition: all 0.5s ease;
    border-bottom-right-radius: var(--bs-accordion-border-radius);
    border-bottom-left-radius: var(--bs-accordion-border-radius);
    border-color: #000;
}

body.dark-mode .accordion-item:first-of-type {
    border-bottom-right-radius: var(--bs-accordion-border-radius);
    border-bottom-left-radius: var(--bs-accordion-border-radius);
    border-color: #000;
}

body.dark-mode .accordion-item:last-of-type {
    border-bottom-right-radius: var(--bs-accordion-border-radius);
    border-bottom-left-radius: var(--bs-accordion-border-radius);
    border-color: #000;
}

body.dark-mode .accordion-item:last-of-type {
    border-bottom-right-radius: var(--bs-accordion-border-radius);
    border-bottom-left-radius: var(--bs-accordion-border-radius);
    border-color: #000;
}

body.dark-mode .accordion-body:last-of-type {
    border-bottom-right-radius: var(--bs-accordion-border-radius);
    border-bottom-left-radius: var(--bs-accordion-border-radius);
    border-color: #000;
}

body.dark-mode .accordion-button:not(.collapsed) {
    background-color: #5f7cb4;
}

@media (prefers-color-scheme: dark) {
    body.dark-mode #ops-smrt {
        content: url('../img/core-img/stl-dark.png');
    }

    body.dark-mode #ops-sbst {
        content: url('../img/core-img/sbstl-dark.png');
    }
}

body.dark-mode .card-header-active {
    background-color: #5f7cb4;
}

body.dark-mode [data-title] {
    color: #fff;
    border-bottom: 1px dotted #fff;
}

/* ------------------------------------------ */

/* ------------------------------------------ 2.0 Statistics/Past Records Page ------------------------------------------ */
body.dark-mode .card-header {
    background-color: #484a4b;
}

body.dark-mode a {
    color: #fff;
}

body.dark-mode a:hover {
    color: #80a8cc;
}

body.dark-mode .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

body.dark-mode .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

body.dark-mode .card-body-acc,
body.dark-mode .card-acc {
    background-color: #2f3132;
    transition: all 0.5s ease;
}

body.dark-mode .lrd-year,
body.dark-mode .pagination a.active {
    background-color: #5f7cb4;
    color: #fff;
}

/* ------------------------------------------ */

/* ------------------------------------------ 3.0 Networks Page/Section ------------------------------------------ */
body.dark-mode .section-padding-80-0 {
    background-color: #18191a;
}

body.dark-mode .wbnrfz-summ {
    background-color: #1e1e1e;
    transition: all 0.5s ease;
}

body.dark-mode span,
body.dark-mode .wbnrfz_details .details_catagory_wrap .single_catagory h4,
body.dark-mode .wbnrfz_details .details_catagory_wrap .single_catagory .social_links a {
    color: #fff;
}

body.dark-mode .about-me-stations {
    background-color: #242526;
    transition: all 0.5s ease;
}

@media (prefers-color-scheme: dark) {

    body.dark-mode #line-nsl,
    body.dark-mode #line-nsl-img {
        content: url('../img/networks/nsl-diag-dark.png');
        transition: all 0.5s ease;
    }

    body.dark-mode #line-ewl,
    body.dark-mode #line-ewl-img {
        content: url('../img/networks/ewl-diag-dark.png');
        transition: all 0.5s ease;
    }

    body.dark-mode #line-sk,
    body.dark-mode #line-sk-img {
        content: url('../img/networks/sk-diag-dark.png');
        transition: all 0.5s ease;
    }

    body.dark-mode #line-ccl,
    body.dark-mode #line-ccl-img {
        content: url('../img/networks/ccl-diag-dark.png');
        transition: all 0.5s ease;
    }

    body.dark-mode #line-nel,
    body.dark-mode #line-nel-img {
        content: url('../img/networks/nel-diag-dark.png');
        transition: all 0.5s ease;
    }

    body.dark-mode #line-tel,
    body.dark-mode #line-tel-img {
        content: url('../img/networks/tel-diag-dark.png');
        transition: all 0.5s ease;
    }

    body.dark-mode #line-pg,
    body.dark-mode #line-pg-img {
        content: url('../img/networks/pg-diag-dark.png');
        transition: all 0.5s ease;
    }

    body.dark-mode #line-dtl,
    body.dark-mode #line-dtl-img {
        content: url('../img/networks/dtl-diag-dark.png');
        transition: all 0.5s ease;
    }

    body.dark-mode #line-bp,
    body.dark-mode #line-bp-img {
        content: url('../img/networks/bp-diag-dark.png');
        transition: all 0.5s ease;
    }
}

/* ------------------------------------------ */