/* ------------------------------------------
[Tables of CSS Content]

> style
> style-extension-1 (this)
    - 17.0 Hero Details CSS
    - 18.0 Skills Section CSS
    - 19.0 Works by NRFZ_Details Section CSS
    - 20.0 Blog Post Section CSS
    - 21.0 Responsive_Extension CSS - Width
    - 22.0 Responsive_Extension CSS - Height
--------------------------------------------- */

/* :: 17.0 Hero Details CSS */
img.profile-pic {
  width: 311px;
  height: 175px;
}

.profile-det {
  padding: 4em;
  padding-top: 0.5em;
  padding-bottom: 2.5em;
}

.profile-name {
  color: #fff;
  font-size: 35px;
  padding-top: 0em;
  cursor: default;
}

.profile-desc {
  color: #b4c5e6;
  font-size: 20px;
  font-weight: normal;
  cursor: default;
}


.profile-link a:hover {
  color: #80a8cc;
}



/* NEW */
.row-lrd {
  padding-left: 5em;
  padding-right: 5em;
}

.row-do,
.row-ri {
  padding-left: 5em;
  padding-right: 5em;
}

#lrd {
  background-color: #f5f6f2;
}

#hero-smrt a.credits,
#hero-sbst a.credits {
  font-size: 15px;
  margin-left: 2px;
  margin-bottom: 2px;
  color: #b4c5e6;
}

#hero-smrt a.credits:hover,
#hero-sbst a.credits:hover {
  color: #6d85b1;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0;
  border-radius: 0.35rem;
  box-shadow: 3px 0 15px -1px rgba(0, 0, 0, 0.15);
}

.card>hr {
  margin-right: 0;
  margin-left: 0;
}

.card>.list-group {
  border-top: inherit;
  border-bottom: inherit;
}

.card>.list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(0.35rem - 1px);
  border-top-right-radius: calc(0.35rem - 1px);
}

.card>.list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(0.35rem - 1px);
  border-bottom-left-radius: calc(0.35rem - 1px);
}

.card>.card-header+.list-group,
.card>.list-group+.card-footer {
  border-top: 0;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.py-2 {
  padding-top: 0rem !important;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link+.card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #e0e1dc;
  border-bottom: 0;
}

.card-header:first-child {
  border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f8f9fc;
  border-top: 1px solid #e3e6f0;
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.35rem - 1px) calc(0.35rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  border-radius: calc(0.35rem - 1px);
}

.card-img,
.card-img-top,
.card-img-bottom {
  flex-shrink: 0;
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.35rem - 1px);
  border-top-right-radius: calc(0.35rem - 1px);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(0.35rem - 1px);
  border-bottom-left-radius: calc(0.35rem - 1px);
}

.card-deck .card {
  margin-bottom: 0.75rem;
}

/* NEW */
.bi-x::before,
.bi-list::before {
  color: #000;
}

.border-left-nsl {
  border-left: 0.25rem solid #ff2a2a !important;
}

.border-left-ewl {
  border-left: 0.25rem solid #009645 !important;
}

.border-left-ccl {
  border-left: 0.25rem solid #e48d05 !important;
}

.border-left-tel {
  border-left: 0.25rem solid #9d5a18 !important;
}

.border-left-lrt {
  border-left: 0.25rem solid #708472 !important;
}

.border-left-nel {
  border-left: 0.25rem solid #824794 !important;
}

.border-left-dtl {
  border-left: 0.25rem solid #035eba !important;
}

.text-nsl {
  color: #ff2a2a !important;
}

.text-ewl {
  color: #009645 !important;
}

.text-ccl {
  color: #e48d05 !important;
}

.text-tel {
  color: #9d5a18 !important;
}

.text-lrt {
  color: #708472 !important;
}

.text-nel {
  color: #824794 !important;
}

.text-dtl {
  color: #035eba !important;
}

.text-info {
  color: #36b9cc !important;
}

p.accord-lrd {
  font-size: 18px;
}

p.accord-p {
  font-size: 20px;
  font-weight: bold;
}

p.accord-date {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}

p.accord-twt {
  font-size: 18px;
}

.accordion-header {
  background-color: #000;
}

.accordion-item {
  border-color: #000;
  margin-bottom: 10px;
}

.accordion-body {
  background-color: #292a2c;
  color: #fff;
}

.accordion-button.collapsed {
  background-color: #e0e1dc;
  color: #000;
}


.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:not(.collapsed) {
  background-color: #c4cbe7;
  background-clip: border-box;
  border: 1px solid #19191a;
  border-top-right-radius: 0.35rem;
  border-top-left-radius: 0.35rem;
  color: #000;
}

.line {
  font-size: 18px;
  font-weight: bold;
  width: 110%;
}

.days {
  font-size: 30px;
  font-weight: bolder;
}

.slrd {
  color: #000;
  font-size: 15px;
  width: 110%;
}

.break-line {
  height: 2px;
  background-color: #c7cbe4;
  margin-top: 3em;
  margin-bottom: 2em;
}

.lrd-year {
  -webkit-transition-duration: 800ms;
  transition-duration: 800ms;
  height: 38px;
  width: 215px;
  background-color: #8fa1c5;
  display: inline-block;
  color: #fff;
  text-align: center;
  line-height: 38px;
  border-radius: 20px;
  font-size: 17px;
  margin-left: 1em;
  margin-bottom: 1em;
  font-weight: bolder;
  cursor: default;
}

.ai-year {
  font-size: 25px;
  margin-bottom: 0.3em;
  font-weight: bold;
  color: #000;
}


/* NEW 2 */
@media (min-width: 576px) {
  .card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }

  .card-deck .card {
    flex: 1 0 0%;
    margin-right: 0.75rem;
    margin-bottom: 0;
    margin-left: 0.75rem;
  }
}

.card-group>.card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }

  .card-group>.card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }

  .card-group>.card+.card {
    margin-left: 0;
    border-left: 0;
  }

  .card-group>.card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card-group>.card:not(:last-child) .card-img-top,
  .card-group>.card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }

  .card-group>.card:not(:last-child) .card-img-bottom,
  .card-group>.card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }

  .card-group>.card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .card-group>.card:not(:first-child) .card-img-top,
  .card-group>.card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }

  .card-group>.card:not(:first-child) .card-img-bottom,
  .card-group>.card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (max-width: 1200px) {}

@media (max-width: 990px) {

  .img-tdc {
    vertical-align: sub;
    margin-bottom: -29px;
  }

}

@media (min-width: 576px) {
  .card-columns {
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }

  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title,
.section-title-smrt {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #000;
  cursor: default;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #c5cde9;
  bottom: 0;
  left: calc(50% - 20px);
  border-radius: 20px;
}

.section-title-smrt h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #cf3d3d;
  bottom: 0;
  left: calc(50% - 20px);
  border-radius: 20px;
}

.section-title p {
  margin-bottom: 0;
  cursor: default;
  color: #000;
}



/* :: 20.0 Blog Post Section CSS */
.breadcrumb-area .page-title-blog {
  color: #ffffff;
  font-size: 65px;
}

.mb-3 {
  margin-top: 1.2rem !important;
  margin-bottom: 1rem !important;
}

.row-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 0px;
  padding: 10px;
}

.column-pic {
  float: left;
  width: 50% !important;
  padding: 10px !important;
}

.column-pic-single {
  float: left;
  width: 100% !important;
  padding: 10px !important;
}

figcaption p {
  margin-top: 10px;
  font-size: 15px;
  color: #636457;
}

.container-blog {
  width: 100%;
  padding-right: 42px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.sidebar-box {
  margin-bottom: 40px;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #e9eae5;
  padding: 20px;
  border-radius: 20px;
}

.sidebar-box .heading {
  font-size: 25px;
  color: #fff;
  font-weight: 700;
  margin: 20px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  cursor: default;
}

.sidebar-box *:last-child {
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: 0rem !important;
}

.tagcloud a {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  color: #252525;
  background-color: #e4e6cf;
  font-size: 11px;
}

.tagcloud a:hover {
  -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  background-color: #80a8cc;
  color: #ffffff;
}

.bg-light {
  background-color: #e9eae5 !important;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
  border-radius: 20px;
  margin-bottom: 30px;
  padding-bottom: 2px;
}

.p-4 {
  padding: 1.5rem !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.desc {
  margin-left: 2em;
}

.sidebar-box h3 {
  font-size: 18px;
  font-weight: 700;
}

.blog-img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 1.8em;
}

.block-21 .blog-img {
  display: block;
  height: 80px;
  width: 80px;
}

.block-21 .text {
  width: calc(100% - 100px);
}

.block-21 .text .heading {
  font-size: 18px;
  font-weight: 400;
}

.block-21 .text .meta {
  margin-left: 20px;
}

h3.heading {
  border-bottom: none !important;
  margin-bottom: 10px !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-col {
  flex: 0 0 auto;
  width: 100%;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.row-blog>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-top: var(--bs-gutter-y);
}

blockquote {
  background-color: #e9eae5;
  padding: 2em;
  color: #000;
  border-radius: 1em;
  cursor: default;
}

.befaft-slider {
  padding-top: 3em;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #6364576e;
}

.ftco-section {
  background-color: #f6f7f2;
  padding-bottom: 10px;
}

.single-post-area .post-content .post-title {
  font-size: 25px;
}

.pw-blog-area {
  padding-top: 50px;
  padding-bottom: 50px;
}




/* :: 21.0 Responsive_Extension CSS - Width */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  img.profile-pic {
    width: 310px;
    height: 185px;
  }

  .profile-det {
    padding: 2em;
    padding-top: 0.5em;
  }

  .profile-link a {
    padding: 1.0em;
    font-size: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  img.profile-pic {
    width: 310px;
    height: 185px;
  }

  .profile-det {
    padding: 2em;
    padding-top: 0.5em;
  }

  .profile-link a {
    padding: 1.0em;
    font-size: 10px;
  }

  .breadcrumb-area .page-title-blog {
    color: #ffffff;
    font-size: 40px;
  }

  .single-post-area .post-content .post-title {
    font-size: 20px;
  }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  img.profile-pic {
    width: 280px;
    height: 280px;
  }

  .profile-det {
    padding: 2em;
    padding-top: 0.5em;
  }

  .profile-link a {
    padding: 1.0em;
    font-size: 10px;
  }

  .single-post-area .post-content .post-title {
    font-size: 15px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  img.profile-pic {
    width: 250px;
    height: 145px;
  }

  .profile-det {
    padding: 2em;
    padding-top: 0.5em;
  }

  .profile-link a {
    padding: 1.0em;
    font-size: 10px;
  }

  .footer-content .copywrite-text {
    padding-right: 10px;
  }



  .breadcrumb-area .page-title-blog {
    color: #ffffff;
    font-size: 35px;
  }


  .footer-content {
    padding: 20px 0;
    padding-right: 10px;
  }

  .row-lrd {
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 1px;
    margin-left: 1px;
  }

  .row-do,
  .row-ri,
  .row-lines {
    padding-left: 1em;
    padding-right: 1em;
  }

  .single-post-area .post-content .post-title {
    font-size: 20px;
  }

}


/* :: 22.0 Responsive_Extension CSS - Height */
@media (min-height: 531px) and (max-height: 620px) {
  .breadcrumb-content {
    scale: 0.8;
    padding-top: 1em;
  }

  .profile-det {
    padding-top: 0em;
    padding-bottom: 0.5em;
  }
}

@media (min-height: 510px) and (max-height: 530px) {
  img.profile-pic {
    width: 250px;
    height: 250px;
  }

  .breadcrumb-content {
    scale: 0.8;
    padding-top: 0em;
  }

  .profile-det {
    padding-top: 0em;
    padding-bottom: 0.5em;
  }
}

@media (min-height: 400px) and (max-height: 529px) {
  img.profile-pic {
    width: 200px;
    height: 200px;
  }

  .breadcrumb-content {
    scale: 0.8;
    padding-top: 0em;
    margin-top: 30px;
  }

  .profile-det {
    padding-top: 0em;
    padding-bottom: 0.5em;
  }
}

@media (min-height: 320px) and (max-height: 399px) {
  img.profile-pic {
    width: 190px;
    height: 190px;
  }

  .profile-name {
    padding-top: 0.5em;
  }

  .profile-desc {
    padding-bottom: 0.5em;
  }

  .breadcrumb-content {
    scale: 0.8;
    padding-top: 0em;
    margin-top: 10px;
  }

  .profile-det {
    padding-top: 0em;
    padding-bottom: 0em;
  }
}

@media (max-height: 319px) {
  img.profile-pic {
    display: none;
  }

  .profile-name {
    display: none;
  }

  .profile-desc {
    display: none;
  }

  .breadcrumb-content {
    display: none;
  }

  .profile-det {
    display: none;
  }
}