/* ------------------------------------------
[Tables of Content]

> style
> style-breakpoints (this)
    - 1.0 Specific Breakpoints
        - 1.0.1 Max Width: 992px
        - 1.0.2 Max Width: 768px
        - 1.0.3 Max Width: 767px
    - 2.0 Width Breakpoints
        - 2.0.1 Min Width: 1200px Max Width: 1400px
        - 2.0.2 Min Width: 992px Max Width: 1199px
        - 2.0.3 Min Width: 768px Max Width: 991px
        - 2.0.4 Min Width: 576px Max Width: 767px
        - 2.0.5 Min Width: 333px Max Width: 575px
        - 2.0.6 Min Width: 320px Max Width: 332px
        - 2.0.7 Min Width: 100px Max Width: 319px

    - 3.0 Height Breakpoints
        - 3.0.1 Min Height: 531px Max Height: 620px
        - 3.0.2 Min Height: 510px Max Height: 530px
        - 3.0.3 Min Height: 400px Max Height: 529px
        - 3.0.4 Min Height: 320px Max Height: 399px
        - 3.0.5 Min Height: 319px
                
--------------------------------------------- */

/* ------------------------------------------ 1.0 Specific Breakpoints ------------------------------------------ */
@media only screen and (max-width: 767px) {
    .section-heading h2 {
        font-size: 24px;
    }

    .section-heading p {
        margin-bottom: 0;
    }

    .section-heading.white p,
    .section-heading.white h2 {
        color: #ffffff;
    }

    #scrollUp {
        right: 20px;
        bottom: 66px;
    }

    .classy-nav-container .classy-navbar .nav-brand {
        max-width: 0px;
        margin-right: 15px;
    }

    .classy-nav-container .classy-navbar .classynav ul li a {
        font-size: 14px;
        color: #252525;
    }

    .classy-nav-container .classy-navbar .classynav ul li a:hover,
    .classy-nav-container .classy-navbar .classynav ul li a:focus {
        color: #80a8cc;
    }

    .classynav ul li.active a::before {
        display: none;
    }

    .footer-content .copywrite-text p {
        font-size: 12px;
        text-align: center;
    }

    .footer-content .copywrite-text p a {
        font-size: 12px;
    }

    .footer-content .footer-logo a img {
        max-width: 50px;
    }

    .footer-content .social-info a {
        margin-right: 5px;
        font-size: 12px;
    }

    .about-us-content h3 {
        font-size: 24px;
    }

    .breadcrumb-area {
        height: 240px;
    }

    .breadcrumb-area .page-title {
        font-size: 24px;
    }

    .breadcrumb-area.blog .breadcrumb-content .page-title {
        font-size: 30px;
    }

    .breadcrumb-area.blog .breadcrumb-content .post-meta a {
        font-size: 13px;
    }
}

@media (max-width: 992px) {
    #hero {
        text-align: center;
    }

    #hero h1 {
        font-size: 52px;
        line-height: 55px;
    }

    #hero p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 25px;
        line-height: 24px;
    }

    #media {
        margin-top: 60px;
        width: 400px;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 990px) {
    .img-tdc {
        vertical-align: sub;
        margin-bottom: -29px;
    }

}

@media (max-width: 768px) {
    #centered-container {
        top: 55%;
    }

    #profile-picture {
        width: 200px;
        height: 200px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }

    #media {
        margin-top: 40px;
        width: 300px;
        display: flex;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@media (min-width: 576px) {
    .card-deck {
        display: flex;
        flex-flow: row wrap;
        margin-right: -0.75rem;
        margin-left: -0.75rem;
    }

    .card-deck .card {
        flex: 1 0 0%;
        margin-right: 0.75rem;
        margin-bottom: 0;
        margin-left: 0.75rem;
    }

    .card-group {
        display: flex;
        flex-flow: row wrap;
    }

    .card-group>.card {
        flex: 1 0 0%;
        margin-bottom: 0;
    }

    .card-group>.card+.card {
        margin-left: 0;
        border-left: 0;
    }

    .card-group>.card:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .card-group>.card:not(:last-child) .card-img-top,
    .card-group>.card:not(:last-child) .card-header {
        border-top-right-radius: 0;
    }

    .card-group>.card:not(:last-child) .card-img-bottom,
    .card-group>.card:not(:last-child) .card-footer {
        border-bottom-right-radius: 0;
    }

    .card-group>.card:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .card-group>.card:not(:first-child) .card-img-top,
    .card-group>.card:not(:first-child) .card-header {
        border-top-left-radius: 0;
    }

    .card-group>.card:not(:first-child) .card-img-bottom,
    .card-group>.card:not(:first-child) .card-footer {
        border-bottom-left-radius: 0;
    }

    .card-columns .card {
        margin-bottom: 0.75rem;
    }

    .card-columns {
        -moz-column-count: 3;
        column-count: 3;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .card-columns .card {
        display: inline-block;
        width: 100%;
    }
}

/* --------------------------------------------- */

/* ------------------------------------------ 2.0 Width Breakpoints ------------------------------------------ */
/* ---- 2.0.1 Min Width: 1200px Max Width: 1400px */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .row-lrd {
        padding-left: 4em;
        padding-right: 4em;
    }

    .row-do,
    .row-ri {
        padding-left: 4em;
        padding-right: 4em;
    }
}

/* ---- */

/* ---- 2.0.2 Min Width: 992px Max Width: 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    img.profile-pic {
        width: 391px;
        height: 127px;
    }

    .profile-det {
        padding: 2em;
        padding-top: 0.5em;
    }

    .profile-link a {
        padding: 1.0em;
        font-size: 10px;
    }

    .row-do,
    .row-ri,
    .row-lrd {
        padding-left: 3em;
        padding-right: 3em;
    }

    .classy-nav-container .classy-navbar .classynav ul li a {
        font-size: 14px;
    }

    .single-post-area .post-content .post-title {
        font-size: 16px;
    }
}

/* ---- */

/* ---- 2.0.3 Min Width: 768px Max Width: 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    img.profile-pic {
        width: 377px;
        height: 123px;
    }

    .profile-det {
        padding: 2em;
        padding-top: 0.5em;
    }

    .profile-link a {
        padding: 1.0em;
        font-size: 10px;
    }

    .breadcrumb-area .page-title-blog {
        color: #ffffff;
        font-size: 40px;
    }

    .single-post-area .post-content .post-title {
        font-size: 20px;
    }

    .row-lrd {
        padding-left: 5em;
        padding-right: 5em;
    }

    .about-me-summary {
        padding: 46px 26px 13px;
    }

    .about-me-ops {
        padding: 46px 0px 13px;
    }

    .about-me-route {
        padding: 46px 26px 13px;
    }

    [data-title]:hover::before {
        content: "";
        border-top: 10px solid black;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        top: -3px;
        left: 20px;
    }

    [data-title]:hover::after {
        content: attr(data-title);
        padding: 11px;
        background-color: black;
        border-radius: 10px;
        color: lightgray;
        min-width: 259px;
        position: absolute;
        top: -60px;
        left: 0px;
        font-size: 14px;
    }

    .breadcrumb-area-lines {
        position: relative;
        z-index: 1;
        height: 35vh;
    }

    .breadcrumb-content {
        padding-top: 3em;
    }

    .wbnrfz-summ {
        padding-top: 30px;
    }

    .breadcrumb-content-subp {
        padding-top: 1em;
    }

    .row-do,
    .row-ri,
    .row-lrd {
        padding-left: 3em;
        padding-right: 3em;
    }

    .classy-nav-container .classy-navbar .classynav ul li a {
        font-size: 14px;
        color: #252525;
    }

    .classy-nav-container .classy-navbar .classynav ul li a:hover,
    .classy-nav-container .classy-navbar .classynav ul li a:focus {
        color: #80a8cc;
    }

    .classynav ul li.active a::before {
        display: none;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 49.333333%;
    }
}

/* ---- */

/* ---- 2.0.4 Min Width: 576px Max Width: 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    img.profile-pic {
        width: 317px;
        height: 113px;
    }

    .profile-det {
        padding: 2em;
        padding-top: 0.5em;
    }

    .profile-link a {
        padding: 1.0em;
        font-size: 10px;
    }

    .single-post-area .post-content .post-title {
        font-size: 15px;
    }

    .logo-operator {
        width: 120px;
    }

    .breadcrumb-area-lines {
        position: relative;
        z-index: 1;
        height: 35vh;
    }

    .breadcrumb-content {
        padding-top: 3em;
    }

    .wbnrfz-summ {
        padding-top: 30px;
    }

    .breadcrumb-content-subp {
        padding-top: 1em;
    }

    .row-do,
    .row-ri,
    .row-lrd {
        padding-left: 3em;
        padding-right: 3em;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 49.333333%;
    }
}

/* ---- */

/* ---- 2.0.5 Min Width: 333px Max Width: 575px */
@media only screen and (min-width: 333px) and (max-width: 575px) {
    img.profile-pic {
        width: 250px;
        height: 95px;
    }

    img.logo {
        width: 90px;
        height: auto;
    }

    .profile-det {
        padding: 2em;
        padding-top: 0.5em;
    }

    .profile-link a {
        padding: 1.0em;
        font-size: 10px;
    }

    .footer-content .copywrite-text {
        padding-right: 10px;
    }

    .screenS {
        width: 100%;
    }

    .breadcrumb-area .page-title-blog {
        color: #ffffff;
        font-size: 35px;
    }

    .pw-btn {
        font-size: 17px;
        padding: 0 20px;
        height: 50px;
        line-height: 50px;
    }

    .footer-content {
        padding: 20px 0;
        padding-right: 10px;
    }

    .section-heading h2 {
        font-size: 30px;
    }

    .section-heading h1 a {
        font-size: 15px !important;
    }

    .about-me-content {
        padding: 56px 32px 20px;
    }

    .info-table th.first,
    .info-table th.second {
        font-size: 15px;
    }

    .info-table td.first,
    .info-table td.second {
        font-size: 11px;
    }

    .table td,
    .table th {
        padding: .65rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .h3,
    h3 {
        font-size: 1.5rem;
    }

    .breadcrumb {
        padding-left: 11.5em;
        padding-right: 11.5em;
    }

    .logo-operator {
        width: 120px;
    }

    .breadcrumb-area-lines {
        position: relative;
        z-index: 1;
        height: 35vh;
    }

    .breadcrumb-content {
        padding-top: 1em;
    }

    .wbnrfz-summ {
        padding-top: 30px;
    }

    .row-do,
    .row-ri {
        padding-left: 2em;
        padding-right: 2em;
    }

    .row-lrd {
        padding-left: 1em;
        padding-right: 1em;
        margin-right: 1px;
        margin-left: 1px;
    }
}

/* ---- */

/* ---- 2.0.6 Min Width: 320px Max Width: 332px */
@media only screen and (min-width: 320px) and (max-width: 332px) {
    img.profile-pic {
        width: 250px;
        height: 95px;
    }

    .profile-det {
        padding: 2em;
        padding-top: 0.5em;
    }

    .profile-link a {
        padding: 1.0em;
        font-size: 10px;
    }

    .footer-content .copywrite-text {
        padding-right: 10px;
    }


    .breadcrumb-area .page-title-blog {
        color: #ffffff;
        font-size: 35px;
    }


    .footer-content {
        padding: 20px 0;
        padding-right: 10px;
    }

    .row-lrd {
        padding-left: 1em;
        padding-right: 1em;
        margin-right: 1px;
        margin-left: 1px;
    }

    .row-do,
    .row-ri,
    .row-lines {
        padding-left: 1em;
        padding-right: 1em;
    }

    .single-post-area .post-content .post-title {
        font-size: 20px;
    }

    [data-title]:hover::before {
        content: "";
        border-top: 10px solid black;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        top: -3px;
        left: 20px;
    }

    [data-title]:hover::after {
        content: attr(data-title);
        padding: 11px;
        background-color: black;
        border-radius: 10px;
        color: lightgray;
        min-width: 259px;
        position: absolute;
        top: -78px;
        left: 0px;
        font-size: 14px;
    }

    .section-heading h2 {
        font-size: 30px;
    }

    .section-heading h1 a {
        font-size: 15px !important;
    }

    .about-me-content {
        padding: 56px 32px 20px;
    }

    .info-table th.first,
    .info-table th.second {
        font-size: 15px;
    }

    .info-table td.first,
    .info-table td.second {
        font-size: 10px;
    }

    .table td,
    .table th {
        padding: .65rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .h3,
    h3 {
        font-size: 1.5rem;
    }

    .station-pill-round,
    .station-pill-round-single {
        font-size: 10px;
    }

    .about-me-summary,
    .about-me-ops {
        background-color: #ffffff;
        padding: 46px 10px 13px;
        border-radius: 10px;
        box-shadow: 3px 0 15px -1px rgba(0, 0, 0, 0.15);
        position: relative;
        z-index: 1;
        margin-top: 50px;
        margin-left: 1em;
        margin-right: 1em;
    }

    .section-title-home {
        text-align: center;
        padding-bottom: 30px;
        padding-left: 0em;
        padding-right: 0em;
    }

    .logo-operator {
        width: 120px;
    }

    .about-me-stations {
        padding: 20px 26px 20px;
    }

    .ld-s-title {
        font-size: 25px;
        font-weight: bolder;
    }

    .wbnrfz_details .details_catagory_wrap {
        display: block;
        margin-bottom: 40px;
    }

    .breadcrumb-area-lines {
        position: relative;
        z-index: 1;
        height: 35vh;
    }

    .breadcrumb-content {
        padding-top: 3em;
    }

    .breadcrumb-content-subp {
        padding-top: 1em;
    }

    .wbnrfz-summ {
        padding-top: 30px;
    }

    .row-do,
    .row-ri {
        padding-left: 2em;
        padding-right: 2em;
    }
}

/* ---- */

/* ---- 2.0.7 Min Width: 100px Max Width: 319px */
@media only screen and (min-width: 100px) and (max-width: 319px) {
    .breadcrumb-area-lines {
        position: relative;
        z-index: 1;
        height: 35vh;
    }

    .breadcrumb-content {
        padding-top: 3em;
    }

    .wbnrfz-summ {
        padding-top: 30px;
    }

    .wbnrfz_details .details_catagory_wrap {
        display: block;
        margin-bottom: 40px;
    }

    .breadcrumb-content-subp {
        padding-top: 1em;
    }
}

/* ---- */

/* ------------------------------------------ 3.0 Height Breakpoints ------------------------------------------ */
@media (min-height: 531px) and (max-height: 620px) {
    .breadcrumb-content {
        scale: 0.8;
        padding-top: 1em;
    }

    .profile-det {
        padding-top: 0em;
        padding-bottom: 0.5em;
    }
}

@media (min-height: 510px) and (max-height: 530px) {
    img.profile-pic {
        width: 250px;
        height: 250px;
    }

    .breadcrumb-content {
        scale: 0.8;
        padding-top: 0em;
    }

    .profile-det {
        padding-top: 0em;
        padding-bottom: 0.5em;
    }
}

@media (min-height: 400px) and (max-height: 529px) {
    img.profile-pic {
        width: 400px;
        height: 139px;
    }

    .breadcrumb-content {
        scale: 0.8;
        padding-top: 0em;
        margin-top: 30px;
    }

    .profile-det {
        padding-top: 0em;
        padding-bottom: 0.5em;
    }
}

@media (min-height: 320px) and (max-height: 399px) {
    img.profile-pic {
        width: 190px;
        height: 190px;
    }

    .profile-name {
        padding-top: 0.5em;
    }

    .profile-desc {
        padding-bottom: 0.5em;
    }

    .breadcrumb-content {
        scale: 0.8;
        padding-top: 0em;
        margin-top: 10px;
    }

    .profile-det {
        padding-top: 0em;
        padding-bottom: 0em;
    }
}

@media (max-height: 319px) {
    img.profile-pic {
        display: none;
    }

    .profile-name {
        display: none;
    }

    .profile-desc {
        display: none;
    }

    .breadcrumb-content {
        display: none;
    }

    .profile-det {
        display: none;
    }
}